[submodule "third-party/OpenXLSX"]
	path = third-party/OpenXLSX
	url = https://github.com/troldal/OpenXLSX.git
[submodule "third-party/graph"]
	path = third-party/graph
	url = https://github.com/boostorg/graph.git
