#main {
    display: block;
    margin: 0 auto;
    width: 1016.665px;
}

#dateText {
    font-size: 20px;
}

#results {
    display : block;
    margin: 0 auto;
    width : 1016.66px;
}

#send {
    display:inline-block;
    width: 200px;
}

#mainslider {
    width: 1016.66px;
    display:block;
    margin: 0 auto;
}

#legend {
    width : 550px;
}

#gan{
    display:inline-block;
    width:700px;
}

#t{
    display:inline-block;
    width:300px;
    vertical-align: top;
    margin-top:74px;
    margin-right: 5px;
}

#t td {
    padding-top: 14.8px;
    padding-bottom: 14.8px;
    text-align: right;
}

.cc-green g rect{
    fill: #005301 !important;
}

.cc-blue g rect{
    fill: #00bfff !important;
}

.cc-orange g rect{
    fill: #d4a004 !important;
}

.cc-red g rect{
    fill: #a8000e !important;
}

.cc-purple g rect{
    fill: #800d88 !important;
}

.cc-grey g rect{
    fill: #474048 !important;
}

.cc-light-green g rect{
    fill: #33a26b !important;
}

.cc-light-purple g rect{
    fill: #ac67cf !important;
}

.cc-light-blue g rect{
    fill: #2c83c9 !important;
}

.cc-light-green g rect{
    fill: #3cae8c !important;
}

.cc-light-orange g rect{
    fill: #ab7632 !important;
}

.gantt-container{

    overflow-x:scroll;
    height: auto;
    width: 700px;
}

.cc-ships g rect{
    fill: #6779ca !important;
}


#inp {
    display:inline-block;
}


#explain {
    display : inline-block;
}

#res {
    margin : 0 auto;
    display: block;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#options {
    display: inline-block;
    margin: 0 auto;
    width: 450px;

}

#left {
    display: inline-block;
    height : 80px;
}

#numberinput {
    width : 50px;
}