#main {
    display: block;
    margin: 0 auto;
    width: 2033.33px;
}

#myCanvas {
    background-image: url("main.png");
    background-size: 2033.33px 990.66px;
}

#mainslider {
    width: 1000px;
    margin: 0 auto;
    display:block;
}