#main {
    display: block;
    margin: 0 auto;
    width: 2033.33px;
}

#myCanvas {
    background-image: url("main.png");
    background-size: 2033.33px 990.66px;
}

#mainslider {
    width: 1000px;
    margin: 0 auto;
    display:block;
 
}
.cc-blue g rect{
    fill: #00bfff !important;
}

#gan{
    display:inline-block;
    width:900px;
}

#t{
    display:inline-block;
    width:50px;
    vertical-align: top;
    margin-top:74px;
}

#t td {
    padding-top: 14.8px;
    padding-bottom: 14.8px;
}
